<div class="text-center mt-5 mb-5">
  <h2>S'inscrire</h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :username, label:"
Nom d'utilisateur",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>
    <%= f.input :email,
                required: true, label:"E-mail",
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true, label:"Mot de passe",
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true, label: "Confirmation de mot de passe",
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="form-actions">
    <div class="text-center mt-4"> <%= f.button :submit, "S'inscrire", class: "btn-outline-warning btn-custom", style: "border-radius: 25px;" %> </div>
  </div>
<% end %>
<div class="mt-4">
  <%= render "devise/shared/links" %>
</div>
