<%= simple_form_for @article do |f| %>
  <%= f.input :name, label: "Nom de l'article"%>
  <%= f.input :description, label: "Description de l'article" %>
  <%= f.input :image_url, label: "Url de l'image" %>
  <%= f.input :street, label: "Rue / n°" %>
  <%= f.input :city, label: "Ville" %>
  <%= f.input :zipcode, label: "Code Postal" %>
  <%= f.input :available, as: :boolean, label: "Disponible" %>
  <div class="text-center"><%= f.submit "Ajouter", class: "btn btn-warning btn-lg", style: "border-radius: 25px; color: white;"%></div>
<% end %>
