<div class="article-show">
  <div class="text-center mt-5">
    <h2>Détails de l'article</h2>
  </div>
  <%= @article.name %>
  <%= @article.description %>
  <img src="<%= cl_image_path @article.photo.key %>" class="article-picture">
  <p>Localisation de l'article</p>
  <%= @article.street %>
  <%= @article.city %>
  <%= @article.zipcode %>
  <%# boolean pour availability %>
  <%= @article.available ? "Public" : "Privé" %>
  <div class="row">
    <div class="col">
      <%= link_to "Mes Articles", articles_path, class: 'btn btn-warning text-white', class: "btn btn-warning", style: "border-radius: 25px; color: white;" %>
    </div>
    <div class="col">
      <button onclick="history.back()" class='btn btn-warning text-white' style="border-radius: 25px; color: white;">Retour</button>
    </div>
    <div class="col">
      <%= link_to "Modifier cet article", edit_article_path(@article), class: 'btn btn-warning text-white', class: "btn btn-warning", style: "border-radius: 25px; color: white;" %>
    </div>
  </div>
