<h1>Article show</h1>
<%= @article.name %>
<%= @article.description %>
<img src="<%= @article.image_url%>">
<%= @article.street %>
<%= @article.city %>
<%= @article.zipcode %>
<%= @article.available %>
