<div class="homepage text-center my-5">
  <h2>Détails de l'article</h2>
</div>
<div class="article-show mb-3">
  <div class="mb-3 d-flex justify-content-center" ><img src="<%= cl_image_path @article.photo.key %>" class="article-picture" style="width: 100%; border-radius: 5px;"></div>
  <div class="card mt-2 bg-light mb-4 rounded py-3 px-3">
    <div class="pb-3">
      <div class="fw-bold text-uppercase"><%= @article.name %></div>
      <div class="my-1"><%= @article.description %></div>
    </div>
    <div class="mt-3 mb-1 fw-bold">
      Localisation de l'article
    </div>
    <div>Adresse: <%= @article.street%> </div>
    <div>Localité: <%= @article.city %></div>
    <div>Code postal: <%= @article.zipcode %></div>
    <%# boolean pour availability %>
    <div class="mt-1">Statut: <%= @article.available ? "Public" : "Privé" %></div>
  </div>
  <div class="d-flex">
    <div class="col d-flex justify-content-center">
      <%= link_to "Modifier", edit_article_path(@article), class: 'btn btn-warning btn-lg text-white rounded-pill'%>
    </div>
  </div>
  <div class="col mt-4 d-flex justify-content-center">
    <button onclick="history.back()" class='btn btn-secondary text-white rounded-pill'>Retour</button>
  </div>
</div>
