<div class="row my-row bookings-container">
  <div class="border-top border-2 border-warning p-3 my-3">
    <div class="mb-3"><%= render 'bookings/booking_status', status: "pending" %></div>
    <%= render 'bookings/booking', bookings: filtered.select{ |booking| booking["status"] == "pending" } %>
  </div>
  <div class="border-top border-2 border-success p-3 my-3">
    <div class="mb-3"><%= render 'bookings/booking_status', status: "confirmed" %></div>
    <%= render 'bookings/booking', bookings: filtered.select{ |booking| booking["status"] == "confirmed" } %>
  </div>
  <div class="border-top border-2 border-danger p-3 my-3">
    <div class="mb-3"><%= render 'bookings/booking_status', status: "declined" %></div>
    <%= render 'bookings/booking', bookings: filtered.select{ |booking| booking["status"] == "declined" } %>
  </div>
  <div class="border-top border-2 p-3 my-3">
    <div class="mb-3"><%= render 'bookings/booking_status', status: "finished" %></div>
    <%= render 'bookings/booking', bookings: filtered.select{ |booking| booking["status"] == "finished" } %>
  </div>
</div>
