<div class="homepage text-center fs-4 my-5">
  <p>Empruntés et prêtés</p>
</div>
<nav>
  <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-borrowed-tab" data-bs-toggle="tab" data-bs-target="#nav-borrowed" type="button" role="tab" aria-controls="nav-borrowed" aria-selected="true">Empruntés</button>
    <button class="nav-link" id="nav-lent-tab" data-bs-toggle="tab" data-bs-target="#nav-lent" type="button" role="tab" aria-controls="nav-lent" aria-selected="false">Prêtés</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-borrowed" role="tabpanel" aria-labelledby="nav-borrowed-tab">
    <div class="row" style="margin: 10px;">
      <% pendings =  @borrowed.select{ |booking| booking["status"] == "pending" }%>
      <% confirmed =  @borrowed.select{ |booking| booking["status"] == "confirmed" }%>
      <% finished =  @borrowed.select{ |booking| booking["status"] == "finished" }%>
      <% declined =  @borrowed.select{ |booking| booking["status"] == "declined" }%>
      <h3 class="btn btn-outline-warning rounded-4 disabled">Pending</h3>
      <% pendings.each do |booking| %>
        <div class="card mt-2 col-12 col-md-6" style="border-radius=5px;margin-top: 40px;padding: 8px;border-radius: 5px;">
          <div class="carousel-item-container">
            <div class="w-50">
              <img src="<%= booking.article.image_url%>" class="d-block w-75 rounded-4" alt="...">
            </div>
            <div class="carousel-item-info justify-content-center">
              <div class="carousel-item-name mb-2" style="font-size: 14px"><%= booking.article.name%></div>
              <div class="carousel-item-description" style="font-size: 12px"><%= booking.article.description%></div>
            </div>
          </div>
        </div>
      <% end %>
      <h3 class="btn btn-outline-success rounded-4 disabled mt-4">Confirmed</h3>
      <% confirmed.each do |booking| %>
        <div class="card mt-2 col-12 col-md-6" style="border-radius=5px;margin-top: 40px;padding: 8px;border-radius: 5px;">
          <div class="carousel-item-container">
            <div class="w-50">
              <img src="<%= booking.article.image_url%>" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item-info">
              <div class="carousel-item-name mb-2" style="font-size: 14px"><%= booking.article.name%></div>
              <div class="carousel-item-description" style="font-size: 12px"><%= booking.article.description%></div>
            </div>
          </div>
        </div>
      <% end %>
      <h3 class="btn btn-outline-danger rounded-4 disabled mt-4">Declined</h3>
      <% declined.each do |booking| %>
        <div class="card mt-2 col-12 col-md-6" style="border-radius=5px;margin-top: 40px;padding: 8px;border-radius: 5px;">
          <div class="carousel-item-container">
            <div class="w-50">
              <img src="<%= booking.article.image_url%>" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item-info">
              <div class="carousel-item-name mb-2" style="font-size: 14px"><%= booking.article.name%></div>
              <div class="carousel-item-description" style="font-size: 12px"><%= booking.article.description%></div>
            </div>
          </div>
        </div>
      <% end %>
      <h3 class="btn btn-outline-secondary rounded-4 disabled mt-4">Finished</h3>
      <% finished.each do |booking| %>
        <div class="card mt-2 col-12 col-md-6" style="border-radius=5px;margin-top: 40px;padding: 8px;border-radius: 5px;">
          <div class="carousel-item-container">
            <div class="w-50">
              <img src="<%= booking.article.image_url%>" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item-info">
              <div class="carousel-item-name mb-2" style="font-size: 14px"><%= booking.article.name%></div>
              <div class="carousel-item-description" style="font-size: 12px"><%= booking.article.description%></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-lent" role="tabpanel" aria-labelledby="nav-lent-tab">
    <div class="row" style="margin: 10px;">
      <% pendings =  @lent.select{ |booking| booking["status"] == "pending" }%>
      <% confirmed =  @lent.select{ |booking| booking["status"] == "confirmed" }%>
      <% finished =  @lent.select{ |booking| booking["status"] == "finished" }%>
      <% declined =  @lent.select{ |booking| booking["status"] == "declined" }%>
      <h3 class="btn btn-outline-warning rounded-4 disabled">Pending</h3>
      <% pendings.each do |booking| %>
        <div class="card mt-2 col-12 col-md-6" style="border-radius=5px;margin-top: 40px;padding: 8px;border-radius: 5px;">
          <div class="carousel-item-container">
            <div class="w-50">
              <img src="<%= booking.article.image_url%>" class="d-block w-75" alt="...">
            </div>
            <div class="carousel-item-info">
              <div class="carousel-item-name mb-2" style="font-size: 14px"><%= booking.article.name%></div>
              <div class="carousel-item-description" style="font-size: 12px"><%= booking.article.description%></div>
            </div>
          </div>
        </div>
      <% end %>
      <h3 class="btn btn-outline-success rounded-4 disabled mt-4">Confirmed</h3>
      <% confirmed.each do |booking| %>
        <div class="card mt-2 col-12 col-md-6" style="border-radius=5px;margin-top: 40px;padding: 8px;border-radius: 5px;">
          <div class="carousel-item-container">
            <div class="w-50">
              <img src="<%= booking.article.image_url%>" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item-info">
              <div class="carousel-item-name mb-2" style="font-size: 14px"><%= booking.article.name%></div>
              <div class="carousel-item-description" style="font-size: 12px"><%= booking.article.description%></div>
            </div>
          </div>
        </div>
      <% end %>
      <h3 class="btn btn-outline-danger rounded-4 disabled mt-4">Declined</h3>
      <% declined.each do |booking| %>
        <div class="card mt-2 col-12 col-md-6" style="border-radius=5px;margin-top: 40px;padding: 8px;border-radius: 5px;">
          <div class="carousel-item-container">
            <div class="w-50">
              <img src="<%= booking.article.image_url%>" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item-info">
              <div class="carousel-item-name mb-2" style="font-size: 14px"><%= booking.article.name%></div>
              <div class="carousel-item-description" style="font-size: 12px"><%= booking.article.description%></div>
            </div>
          </div>
        </div>
      <% end %>
      <h3 class="btn btn-outline-secondary rounded-4 disabled mt-4">Finished</h3>
      <% finished.each do |booking| %>
        <div class="card mt-2 col-12 col-md-6" style="border-radius=5px;margin-top: 40px;padding: 8px;border-radius: 5px;">
          <div class="carousel-item-container">
            <div class="w-50">
              <img src="<%= booking.article.image_url%>" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item-info">
              <div class="carousel-item-name mb-2" style="font-size: 14px"><%= booking.article.name%></div>
              <div class="carousel-item-description" style="font-size: 12px"><%= booking.article.description%></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
