<h1>formulaire de Booking</h1>

<div>
<p><%= @article.name %>, article proposé par Capy <%= @article.user.username %></p>
</div>

<%= simple_form_for [@article, @booking] do |f| %>
<%= image_tag @article.image_url, class:"img-fluid" %>
<%= @article.description %>

<div class="container shadow min-vh-100 py-2">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6">
            <label for="startDate">Début</label>
            <input id="startDate" class="form-control" type="date" />
            <span id="startDateSelected"></span>
        </div>
        <div class="col-lg-3 col-sm-6">
            <label for="endDate">fin</label>
            <input id="endDate" class="form-control" type="date" />
            <span id="endDateSelected"></span>
        </div>
    </div>
<%= f.submit "J'emprunte", class: "btn btn-primary" %>
<% end %>

<script>
  let startDate = document.getElementById('startDate')
  let endDate = document.getElementById('endDate')

startDate.addEventListener('change',(e)=>{
  let startDateVal = e.target.value
  document.getElementById('startDateSelected').innerText = startDateVal
})

endDate.addEventListener('change',(e)=>{
  let endDateVal = e.target.value
  document.getElementById('endDateSelected').innerText = endDateVal
})
</script>
