<h1>formulaire de Booking</h1>
<div>
  <p><%= @article.name %>, article proposé par Capy <%= @article.user.username %></p>
</div>
<%= simple_form_for [@article, @booking] do |f| %>
  <%= image_tag @article.image_url, class:"img-fluid" %>
  <%= @article.description %>
  <div class="container shadow min-vh-100 py-2">
    <div class="row">
      <div class="col col-lg-3 col-sm-6">
        <label for="startDate">Début</label>
        <%=f.date_field :start_date, "data-booking-form-target": "startDate", class:"form-control"%>
        <span id="startDateSelected"></span>
      </div>
      <div class="col col-lg-3 col-sm-6">
        <label for="endDate">fin</label>
        <%=f.date_field :end_date, "data-booking-form-target": "endDate", class:"form-control"%>
        <span id="endDateSelected"></span>
      </div>
    </div>
    <div class="text-center mt-5"><%= f.submit "J'emprunte", class: "btn btn-primary" %></div>
  </div>
<% end %>
