<div class="text-center mt-5 mb-5">
  <h2>Se connecter</h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class="form-inputs">
    <div class="form-floating mb-4">
      <%= f.input :email, label:"E-mail",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    </div>
    <div class="form-floating mb-4">
      <%= f.input :password, label:"Mot de passe",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="mt-4">
      <%= f.input :remember_me, as: :boolean, label: "Se souvenir de moi" if devise_mapping.rememberable? %>
    </div>
  </div>
  <div class="form-actions">
    <div class="text-center mt-4"> <%= f.button :submit, "Connexion", class: "btn-outline-warning btn-custom", style: "border-radius: 25px;" %> </div>
  </div>
<% end %>
<div class="mt-4">
  <%= render "devise/shared/links" %>
</div>
